{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% block title %}
    {% block subtitle %}{% endblock %}
    {% if block('subtitle') is not empty %} | {% endif %}
    {{ site_name }}
{% endblock %}

{% block navbar %}
    {% embed '@MopaBootstrap/Navbar/navbar.html.twig' with { fixedTop: false, staticTop: true, inverse: false } %}
        {% block brand %}
            <a class="navbar-brand" href="{{ path('home') }}">{{ site_name }}</a>
        {% endblock %}
        {% block menu %}
            <ul class="nav navbar-nav navbar-right">
                {% for locale in locales|split('|') %}
                    <li class="{{ app.request.locale == locale ? 'active' : '' }}">
                        {% set target = '/' ~ app.request.locale ~ '/' %}
                        {% set replacement = '/' ~ locale ~ '/' %}
                        <a href="{{ app.request.requestUri|replace({ (target): replacement }) }}">{{ locale }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endblock %}
    {% endembed %}
{% endblock navbar %}

{% block container_class %}container{% endblock container_class %}

{% block page_header %}{% endblock page_header %}

{% block content_row %}
    <div class="row">
        <div class="col-lg-offset-1 col-lg-10">
            {% block content %}{% endblock %}
        </div>
    </div>
    {% include 'OnevoteAppBundle::widget-spinner-modal.html.twig' %}
{% endblock %}

{% block footer %}
    <p>Powered by <a href="https://github.com/qckanemoto/Onevote" target="_blank">Onevote</a></p>
{% endblock footer %}

{% block head_style %}
    {% stylesheets filter='less,cssrewrite'
    '@OnevoteAppBundle/Resources/public/less/layout.less'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block foot_script_assetic %}
    {% javascripts
    '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap/dist/js/bootstrap.js'
    '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
    '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
